    <!-- hero -->
    <section class="py-5 pt-md-3 bg-dark text-white">
        <div class="container ">
            <div class="row align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2 py-lg-3">

                    <!-- Image -->
                    <img src="_assets/img/frontpage/mira-app-on-surface.png" class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">

                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">

                    <!-- Heading -->
                    <h1 class="display-3 text-center text-md-start">
                        Ready made CRM
                    </h1>

                    <!-- Text -->
                    <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
                        The leading CRM-system for commercial and higher education in the Nordics.
                    </p>

                    <!-- Buttons -->
                    <div class="text-center text-md-start">
                        <a href="#" class="btn btn-primary shadow xlift me-1">
                            Contact us <i class="fa fa-arrow-right d-none d-md-inline ms-3"></i>
                        </a>
                    </div>

                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </section>

    <!-- markets -->
    <section class="py-5 py-md-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 aos-init aos-animate align-items-center" data-aos="fade-up">
                    <!-- Illustration -->
                    <figure class="figure">
                        <img src="_assets/img/frontpage/er2.png" class="img-fluid mw-md-150 mw-lg-130 xmb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
                        <figcaption class="figure-caption text-center text-white fs-4">External&nbsp;Relations for Higher&nbsp;Education</figcaption>
                    </figure>

                </div>

                <div class=" col-12 col-md-4 aos-init aos-animate " data-aos="fade-up " data-aos-delay="50 ">
                    <!-- Illustration -->
                    <figure class="figure ">
                        <img src="_assets/img/frontpage/ce.png " class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate " alt="... " data-aos="fade-up " data-aos-delay="100 ">
                        <figcaption class="figure-caption text-center text-white fs-4">Commercial Education</figcaption>
                    </figure>
                </div>

                <div class="col-12 col-md-4 aos-init aos-animate " data-aos="fade-up " data-aos-delay="100 ">
                    <!-- Illustration -->
                    <figure class="figure ">
                        <img src="_assets/img/frontpage/mm.png " class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate " alt="... " data-aos="fade-up " data-aos-delay="100 ">
                        <figcaption class="figure-caption text-center text-white fs-4">Membership Management</figcaption>
                    </figure>

                </div>
            </div>
            <!-- / .row -->
        </div>
        <!-- / .container -->
    </section>

    <!-- clients -->
    <section class="py-5 py-md-8 xborder-bottom bg-light">
        <div class="container ">
            <div class="row align-items-center justify-content-center py-3 px-3 text-muted ">Since 1998 we have worked with more than 100 clients. We have worked with 14 of the 20 highest ranked higher education institutions in the Nordics.</div>
            <div class="row align-items-center justify-content-center ">
                <section class="logo-carousel slider" data-arrows="true">
                    <div class="slide"><img src='_assets/img/frontpage/client-logos/su.png' /></div>
                    <div class="slide"><img src='_assets/img/frontpage/client-logos/lu.png' /></div>
                    <div class="slide"><img src='_assets/img/frontpage/client-logos/ki.png' /></div>
                    <div class="slide"><img src='_assets/img/frontpage/client-logos/gu.png' /></div>
                    <div class="slide"><img src='_assets/img/frontpage/client-logos/hgu.png' /></div>
                    <div class="slide"><img src='_assets/img/frontpage/client-logos/nackademin.png' /></div>
                    <div class="slide"><img src='_assets/img/frontpage/client-logos/mdu.png' /></div>
                    <div class="slide"><img src='_assets/img/frontpage/client-logos/liu.png' /></div>
                </section>
            </div>
        </div>
    </section>


    <!-- Features-->
    <!-- add 
        Membership management
        Integrations
        Professional services / Fanatical support / Friendly support
    -->
    <section class="py-5 py-md-8 xborder-bottom" style="page-break-before: always;">
        <div class="container px-4 py-5 " id="features">
            <a id="features">
                <h1>Features</h1>
            </a>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 py-5 ">
                <div class="col d-flex align-items-start ">
                    <div class="bi text-primary flex-shrink-0 me-3 fw-bold" width="1.75em " height="1.75em ">
                        <span class="fa-stack fa-2x">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-child-reaching fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-0 ">Complete CRM functionality</h4>
                        <p>Complete view of persons and organizations, activities and contact notes, queries and reports.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start ">
                    <div class="bi text-primary flex-shrink-0 me-3 fw-bold" width="1.75em " height="1.75em ">
                        <span class="fa-stack fa-2x">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-regular fa-envelope fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-0 ">Email communications</h4>
                        <p>Sending through a global network of email servers, statistics for opens and clicks, automatic contact notes, automatic management of bounces.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start ">
                    <div class="bi text-primary flex-shrink-0 me-3 fw-bold" width="1.75em " height="1.75em ">
                        <span class="fa-stack fa-2x">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-regular fa-calendar fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-0 ">Event management</h4>
                        <p>Flexible registration forms, see all event attendance for a person, sync registrations with CRM-data, multilingual registration forms.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start ">
                    <div class="bi text-primary flex-shrink-0 me-3 fw-bold" width="1.75em " height="1.75em ">
                        <span class="fa-stack fa-2x">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-table-cells fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-0 ">External relations for higher education</h4>
                        <p>Ready made modules for alumni relations, fundraising, career service, corporate relations, contract education. Standard integrations with LADOK, Oodi, FS.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start ">
                    <div class="bi text-primary flex-shrink-0 me-3 fw-bold" width="1.75em " height="1.75em ">
                        <span class="fa-stack fa-2x">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-arrows-rotate fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-0 ">Commercial education</h4>
                        <p>Support for open enrollment and custom programs. Marketing, sales, course delivery and follow up. Course catalog, online application, invoicing, etc.</p>
                    </div>
                </div>

                <div class="col d-flex align-items-start ">
                    <div class="bi text-primary flex-shrink-0 me-3 fw-bold" width="1.75em " height="1.75em ">
                        <span class="fa-stack fa-2x">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-id-card fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-0 ">Membership management</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra quis libero a finibus. Nunc est justo, finibus non leo commodo, placerat sagittis purus. </p>
                    </div>
                </div>

                <div class="col d-flex align-items-start ">
                    <div class="bi text-primary flex-shrink-0 me-3 fw-bold" width="1.75em " height="1.75em ">
                        <span class="fa-stack fa-2x">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-arrow-right-arrow-left fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-0 ">Ready made integrations</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra quis libero a finibus. Nunc est justo, finibus non leo commodo, placerat sagittis purus. </p>
                    </div>
                </div>

                <div class="col d-flex align-items-start ">
                    <div class="bi text-primary flex-shrink-0 me-3 fw-bold" width="1.75em " height="1.75em ">
                        <span class="fa-stack fa-2x">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                <!-- fa-face-smile, fa-arrow-right-to-line, livboj, headset
                                 -->
                            </span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-0 ">Professional services</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra quis libero a finibus. Nunc est justo, finibus non leo commodo, placerat sagittis purus. </p>
                    </div>
                </div>

                <div class="col d-flex align-items-start ">
                    <div class="bi text-primary flex-shrink-0 me-3 fw-bold" width="1.75em " height="1.75em ">
                        <span class="fa-stack fa-2x">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-section fa-stack-1x fa-inverse"></i>
                            </span>
                    </div>
                    <div>
                        <h4 class="fw-bold mb-0 ">Data protection and compliance</h4>
                        <p>Smart functionality to comply with the requirements of the GDPR. Categorization of legal basis, logging of consent, manual and automatic erasure, and more.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Pricing -->
    <div class="container px-4 py-5 " id="Pricing">
        <a id="pricing">
            <h1>Pricing</h1>
        </a>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center py-3">
            <div class="col ">
                <div class="card mb-4 rounded-3 shadow-sm ">
                    <div class="card-header py-3 text-white bg-primary border-primary ">
                        <h4 class="my-0 fw-normal ">Express</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="text-muted fw-light ">From</div>
                            <h1 class="card-title pricing-card-title ">6 000 <small class="text-muted fw-light ">SEK/mo</small>
                            </h1>
                        </li>
                        <li class="list-group-item">
                            <div class="text-muted fw-light ">Startup project from</div>
                            <h1 class="card-title pricing-card-title ">60 000 <small class="text-muted fw-light ">SEK</small>
                            </h1>
                        </li>
                        <li class="list-group-item">
                            <ul class="list-unstyled mt-3 mb-4 ">
                                <li>10 users included</li>
                                <li>2 GB of storage</li>
                                <li>Email support</li>
                                <li>Help center access</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col ">
                <div class="card mb-4 rounded-3 shadow-sm ">
                    <div class="card-header py-3 text-white bg-primary border-primary ">
                        <h4 class="my-0 fw-normal ">Standard</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="text-muted fw-light ">From</div>
                            <h1 class="card-title pricing-card-title ">12 000 <small class="text-muted fw-light ">SEK/mo</small>
                            </h1>
                        </li>
                        <li class="list-group-item">
                            <div class="text-muted fw-light ">Startup project from</div>
                            <h1 class="card-title pricing-card-title ">120 000 <small class="text-muted fw-light ">SEK</small>
                            </h1>
                        </li>
                        <li class="list-group-item">
                            <ul class="list-unstyled mt-3 mb-4 ">
                                <li>10 users included</li>
                                <li>2 GB of storage</li>
                                <li>Email support</li>
                                <li>Help center access</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col ">
                <div class="card mb-4 rounded-3 shadow-sm border-primary ">
                    <div class="card-header py-3 text-white bg-primary border-primary ">
                        <h4 class="my-0 fw-normal ">Complete CRM</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="text-muted fw-light ">From</div>
                            <h1 class="card-title pricing-card-title ">18 000 <small class="text-muted fw-light ">SEK/mo</small>
                            </h1>
                        </li>
                        <li class="list-group-item">
                            <div class="text-muted fw-light ">Startup project from</div>
                            <h1 class="card-title pricing-card-title ">180 000 <small class="text-muted fw-light ">SEK</small>
                            </h1>
                        </li>
                        <li class="list-group-item">
                            <ul class="list-unstyled mt-3 mb-4 ">
                                <li>10 users included</li>
                                <li>2 GB of storage</li>
                                <li>Email support</li>
                                <li>Help center access</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>